// Specific CSS for your home-page
h1, h2, h3, h4, h5, h6, {
margin: 0px;
}

#home {
  height: 100vh;
}
.banner {
  height: 100vh;
  width: 82vw;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  position: absolute;
  -webkit-box-shadow: -1px 0px 3px 0px rgba(0,0,0,0.15);
     -moz-box-shadow: -1px 0px 3px 0px rgba(0,0,0,0.15);
          box-shadow: -1px 0px 3px 0px rgba(0,0,0,0.15);

  right: 0;
}

.banner-content {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;

  h4 {
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 20px;
  }
  p {
    font-weight: lighter;
  }
}


.logo{
  height: 60px;
  position: fixed;
  top: 60px;
  right: 120px;
  cursor: pointer;
}

#map {
  position:fixed;
  float:left;
  z-index: 0;
}
