
 /* Specific CSS for your home-page */
.section
{
  height: 100vh;
  position: relative;
}

.page-container {
  overflow: auto;
  position: relative;
  height: 100vh;
}


#map {
  float: left;
  overflow: hidden;
  position: absolute;
  z-index: 0;
  width: 18%;
  height: 100vh;
}

.banner-container {
  width: 82vw;
  height: 100vh;
  position: absolute;
  right: 18vw;
  -webkit-box-shadow: -2px 0px 4px -3px rgba(0,0,0,0.15);
     -moz-box-shadow: -2px 0px 4px -3px rgba(0,0,0,0.15);
          box-shadow: -2px 0px 4px -3px rgba(0,0,0,0.15);
}

.banner {
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}

.ban-content {
  height: 100%;
  width: 100%;
  transform: scale(1) !important;
  background-image: url(asset-path('home-background.jpg'));
}

.side-menu-btn-fix {
  width: 18%;
  position: absolute;
  right: 0px;
}

.menu-open  {
  position: absolute;
  left: 50%;
  margin-left: -30px;
  margin-top: 60px;
  z-index: 999;
}

.box-transition {
  display: inline-flex;
  align-items: center;
  position: absolute;
  bottom: 15vh;
  right: 350px;
  z-index: 100;
}

.hidden {
  visibility: hidden;
}

.home-quote {
  width: 60%;
  height: 30%;
  margin: 0 auto;
  position: absolute;
  top: 20%;
  font-family: "Raleway", "Helvetica", "sans-serif";
  h4 {
    font-weight: 200;
    font-size: 25px;
    font-size: 3.8vh;
    margin-bottom: 20px;
    line-height: 1.2em;
    text-transform: none !important;
  }
  h5 {
    text-transform: none;
    font-weight: 500;
  }

  p {
    font-weight: lighter;
    line-height: 1.1em;
  }
}

.home-btn {
  margin: 10px;
  width: 100px;
}


