
.profile {
  margin-top: 200px;

}
.presentation {
  font-size: 23px;
  font-weight: bold;
}

.page-container {
  width: 100%;
  padding:0px;
}

.now-page {
  font-size: 14px;
}

.page-row {
  margin: 0px;
  height: 100%;
}

.inactive {
  font-style: italic;
   color: lightgrey;
}


.mid-banner {
  height: 100vh;
  padding: 5%;
  overflow: scroll;
}

.right-now {
  background-color: #FFBB1B;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.left-about{
    background-color: lightgrey;
}
