@import url('https://fonts.googleapis.com/css?family=Quicksand:400|Sue+Ellen+Francisco');

.profile {
  margin-top: 200px;

}

.page-container {
  width: 100%;
  padding:0px;
}

.now-page {

}

.mid-banner {
  margin: 0px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 16px;
  height: 100vh;
  padding: 8%;
  overflow: scroll;
}

.inactive {
  font-style: italic;
   color: lightgrey;
}


.mid-banner {

}

.now-right {
  position: relative;
  background-color: #FFD058;
  display: flex;
  flex-direction: column;
  justify-content: center;
      h1 {
        width: 100px;
        position: relative;
        font-size: 6em;
        color: white;
        margin-bottom: 100px;
        font-family: 'Sue Ellen Francisco', cursive;

      }
      :nth-child(2) {
        font-size: 2em;
      }
      :nth-child(3) {
        font-size: 1.4em;
        padding-bottom: 100px;
      }
}

.about-left{
    background-color: #53F2DC;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
          h1 {
        width: 100px;
        position: relative;
        font-size: 6em;
        color: white;
        margin-bottom: 100px;
        font-family: 'Sue Ellen Francisco', cursive;

      }
}

.about-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.more-about {

}

.decription {
  font-size: 33px;
}
