<div class="banner-container">
  <div class="banner ban-content">
      <div class="banner-content">
          <div class="home-quote">
              <% inspiration = @motivation_quotes.sample  %>
              <h4><%= inspiration[:quote] %> </h4>
              <p><%= inspiration[:autor] %> </p>
          </div>
          <div>
              <p> What i'm doing
              <%= link_to "now", pages_now_path, { :class=>"btn btn-warning" } %>
              </p>
          </div>
      </div>
  </div>
  <div class="banner glitch "></div>
</div>
