<div class="banner-container">
  <div class="banner ban-content">
    <div id="quote" class="home-quote">
        <% inspiration = @motivation_quotes.sample  %>
        <h4><%= inspiration[:quote] %> </h4>
        <h5><%= inspiration[:autor] %> </h5>
    </div>
  </div>
</div>


