<div>
  <p>I've just finished a 2 months bootcamp with LeWagon and i'm now updating my websites and resume to find met new opportunities.</p>
  <p>This is what i'm doing now (in order of time spent)</p>
</div>

<ul>
  <li>Diving deep into ruby and python and JS programming</li>
  <li>Creating an open source community around architecture and design to help find and share components and codes to inspire others.</li>
  <li>writing some articles about the reasons why i quit architecture to learn programming</li>
  <li>Working on a 3D interior scene for a house project that i'll share on my website soon</li>
  <li>Reading some books about parametric design and complexe geometri algorithm</li>
  <li>Developping a new workout routin to get in my best shape</li>
  <li>Trying to enjoy my life in montreal and meet interesting people. If u know any cool place, i'll love to hear about it</li>
</ul>

<ul>
  <li>Diving deep into ruby and python and JS programming</li>
  <li>Creating an open source community around architecture and design to help find and share components and codes to inspire others.</li>
  <li>writing some articles about the reasons why i quit architecture to learn programming</li>
  <li>Working on a 3D interior scene for a house project that i'll share on my website soon</li>
  <li>Reading some books about parametric design and complexe geometri algorithm</li>
  <li>Developping a new workout routin to get in my best shape</li>
  <li>Trying to enjoy my life in montreal and meet interesting people. If u know any cool place, i'll love to hear about it</li>
</ul>

<ul>
  <li>Diving deep into ruby and python and JS programming</li>
  <li>Creating an open source community around architecture and design to help find and share components and codes to inspire others.</li>
  <li>writing some articles about the reasons why i quit architecture to learn programming</li>
  <li>Working on a 3D interior scene for a house project that i'll share on my website soon</li>
  <li>Reading some books about parametric design and complexe geometri algorithm</li>
  <li>Developping a new workout routin to get in my best shape</li>
  <li>Trying to enjoy my life in montreal and meet interesting people. If u know any cool place, i'll love to hear about it</li>
</ul>

<p>reading</p>
<ul>
  <li>life ahead (krishnamurti)</li>
  <li>The Power of Habit: Why We Do What We Do in Life and Business</li>
  <li>Bonheur de la méditation (Yongey Mingyour Rinpotché)</li>
</ul>
