<div class="now-page banner-container">
  <div class="container page-container">
    <div class="row page-row">
      <div class="second-banner col-sd-12 col-md-6 col-lg-6 col-xl-6">
        <%= render 'shared/now_17_08' %>
        <h5>Last updated: August 15, 2017</h5>
        <p>If my activities change, I’ll update this page.</p>
        <h6 class="inactive">Archive</h6>
        <hr>
        <p>This is a <strong>/now</strong> page inspired by Derek Sivers’ /now page movement. Check it out at <a href="http://www.nownownow.com">nownownow.com </a>.</p>
        <p>See my Now Now Now <a href="#">profile</a>.</p>
      </div>
      <div class=" second-banner now-right col-sd-12 col-md-6 col-lg-6 col-xl-6">
        <h1>now</h1>
        <p> Hi, my name is <b>Romain BOBOE </b></p>
        <p>I'm a French Architect / Designer <br/> and Full Stack web developper </p>
      </div>
    </div>
  </div>
</div>
