<section id="home">
  <%= render 'shared/banner' %>
</section>

<!-- <section id="pushmenu-right" class="pushmenu pushmenu-right side-menu">
    <a id="menu-sidebar-close-icon" class="menu-close"><i class="ion ion-android-close"></i></a>
    <div class="logo mb-30">
        <img src="img/logo-white.png" alt="mazel" />
    </div>
    <hr class="dark" />
    <div class="clearfix"></div>
    <ul class="mtb-30">
        <li><a class="all-link" target="_blank" href="../demo.html">Main Demo Page</a></li>
        <li><a href="home.html">Home Default</a></li>
        <li><a href="portfolio-grid-2col.html">Portfolio</a></li>
        <li><a href="login-register.html">Login & Signup</a></li>
        <li><a href="faq-1.html">FAQ</a></li>
    </ul>
    <hr class="dark" />
    <ul class="social mt-30">
        <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://vimeo.com/" target="_blank"><i class="fa fa-vimeo-square"></i></a></li>
        <li><a href="https://www.behance.net/" target="_blank"><i class="fa fa-behance"></i></a></li>
    </ul>
</section>
 -->


