
    <div class="box-transition">

    <p> To know more
        <%= link_to "about me", pages_home_path(@pages_home), class: "btn btn-warning home-btn" %>
    </p>
    </div>

<!--     <script type="text/javascript">
$(document).ready(function() {
  $('#quote').hover(function(){
    $('#glitch').addClass('glitch');
    console.log('hello');
    });
  $('#logo').hover(function(){
    $('#glitch').toggleClass('glitch');
    console.log('hellobonjour');
  });
});
</script>
 -->
