<div class="container">
  <div class="row">
    <div class="col-sd-12 col-md-6 col-lg-6 col-xl-6">
        <h3>now</h3>
        <p>I'v just finished a 2 months bootcamp with LeWagon and i'm now updating my websites and resume to find met new opportunities. I'm still working at LaGare and trying a get a helthy life here in Montreal</p>
        <p>This is what i'm doing now (in order of time spent)</p>
        <ul>
          <li>Diving deep into ruby and python and JS programming</li>
          <li>Creating an open source community around architecture and design to help find and share components and codes for parametric design</li>
          <li>writing some articles about why i quit architecture to learn programming</li>
          <li>Working on a 3D interior scene for a house project that i'll share on my website soon</li>
          <li>Reading some books about parametric design and complexe geometri algorithm</li>
          <li>Developping a new workout routin to get in my best shape</li>
          <li>Trying to enjoy my life in montreal and meet interesting people. If u know any cool place, i'll love to hear about it</li>
        </ul>
    </div>
    <div class="col-sd-12 col-md-6 col-lg-6 col-xl-6">

        <p>Hi my name is Romain BOBOE </p>
        <p>I'm a French Architect and Full Stack web developper <br/>
          I like to solve problems and inspire people. I' passionnate about tree things: technologies, travaling, and food.
          i design, i code, i built, i write and i like to learn new things and get around new challenges.</p>
    </div>
  </div>
</div>
