.navmenu {
  li{
    padding: 10px 0px;
  }

}

.social {
  display: inline-flex;
  justify-content: flex-start;
  li {
    padding-right: 20px;
  }
  .fa {
    font-size: 22px;
  }
}

#pushmenu-right {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  ul {
    padding: 10px 60px 10px 60px;
    list-style: none;
    width: 100%;
    a {
      text-decoration: none;
      text-transform: uppercase;
      color: #000;
      font-size: 15px;
    }
  }
}



@media screen and (max-width: 700px) {
.navmenu {
  margin-top: 100px;
  li{
    padding: 2px 0px;
  }

}

.dark {
  padding:0px;
}

.social {
  display: inline-flex;
  justify-content: flex-start;
  li {
    padding-right: 10px;
  }
  .fa {
    font-size: 16px;
  }
}

#pushmenu-right {
  ul {
    padding: 2px 20px 2px 20px;
  }
  a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-size: 12px;
  }
}


}
