

.second-banner {

}

.now-right {
  position: relative;
  background-color: #FFD058;
  display: flex;
  flex-direction: column;
  justify-content: center;

      :nth-child(2) {
        font-size: 1.8em;
      }
      :nth-child(3) {
        font-size: 1.2em;
        padding-bottom: 100px;
      }
}

.about-left{
    background-color: #53F2DC;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.more-about {

}

.decription {
  font-size: 33px;
}
